<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Insert Student Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <form th:action="@{/savestudent}" method="post">
    
        <label>ID:</label>
        <input type="text" name="id" required /><br><br>
        <label>First Name:</label>
        <input type="text" name="firstName" required /><br><br>
        <label>Last Name:</label>
        <input type="text" name="lastName" required /><br><br>
        <label>Email:</label>
        <input type="email" name="email" required /><br><br>
        <label>Password:</label>
        <input type="password" name="password" required />
        <button type="submit">Save Student</button>
    </form>
</body>
</html>
